<tabset class="nav centered">
	<!-- Adobe: API Credentials --> 
	<tab heading="API Credentials">
        <div ng-include="config.viewPath + 'views/settings/adobe-api.html'"></div>
	</tab>
	
	<!-- Adobe: API --> 
	<tab heading="Publications">
        <div ng-include="config.viewPath + 'views/settings/adobe-publications.html'"></div>
	</tab>
	
	<!-- Adobe: Devices--> 
	<tab heading="Devices">
        <div ng-include="config.viewPath + 'views/settings/adobe-devices.html'"></div>
	</tab>
	
	<!-- Adobe: Image Sizes--> 
	<tab heading="Image Sizes">
        <div ng-include="config.viewPath + 'views/settings/adobe-images.html'"></div>
	</tab>
</tabset>

