<h1>Advanced</h1>
<p>
    Settings that should only be applied by administrators
</p>

<br />
<div class="disabled">
	<label>COMING SOON: Unlink all Articles</label>
	<p>If you're changing instances of the API or want to move over to another publication, you can unlink all articles using the button below. This will only wipe out all references to it's copy in the cloud. You can then re-upload them to another publication after.</p>
	<button class="btn danger red"><span class="glyphicon glyphicon-transfer"></span> Unlink All Articles</button>
</div>

<BR/><BR/><BR/>

<!--
<label>Unlink all Articles</label>
<p>If you're changing instances of the API or want to move over to another publication, you can unlink all articles using the button below. This will only wipe out all references to it's copy in the cloud. You can then re-upload them to another publication after.</p>
<button class="btn danger red"><span class="glyphicon glyphicon-transfer"></span> Unlink All Articles</button>
-->
