
<!-- ADOBE API VERSION -->
<div class="row">
	
	<div class="col-xs-12">
        <h1>
            Adobe API <b>Version</b>
            <a style="font-size: .7em;"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
        </h1>
        <!-- HOW TO GET ACCESS -->
    </div>
    
    <div class="col-sm-6">
	    <div class="radio disabled" popover="Option not available yet. Coming soon." popover-placement="bottom" popover-trigger="mouseenter">
	      <label>
	        <input  type="radio" 
					name=""
					value="1"
					disabled
					/>
	        <b>Classic</b>
	        <p>v 1.0</p>
	      </label>
	    </div>                        
	</div>

    <div class="col-sm-6">
	    <div class="radio">
	      <label>
	        <input  type="radio" 
					name="apiVersion"
					value="2"
					ng-model="settings.apiVersion" />
	        <b>Publish</b>
	        <p>v 2.0</p>
	      </label>
	    </div>                        
	</div>
    
</div>

<hr />
<BR/>

<!-- Adobe API Secret / Key -->
<div class="row">
	<div class="col-sm-12">
        <div class="form-group">
            <label for="secret">Company</label>
            <input 	type="text" 
					class="form-control" 
					name="company" 
					placeholder="Company Name" 
					ng-model="settings.company" />
        </div>  
    </div> 
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="key">Adobe <b>Key *</b></label>
            <input 	type="text" 
					class="form-control" 
					name="key" 
					placeholder="Adobe Key" 
					ng-model="settings.key" />
        </div>                    
    </div>    
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="secret">Adobe <b>Secret *</b></label>
            <input 	type="text" 
					class="form-control" 
					name="secret" 
					placeholder="Adobe Secret" 
					ng-model="settings.secret" />
        </div>  
    </div>  
</div>

<!-- API Credentials -->
<div class="row" ng-if="settings.apiVersion > 1">
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="device_id">Device ID *</label>
            <input 	type="text" 
					class="form-control" 
					name="device_id" 
					placeholder="Device ID" 
					ng-model="settings.device_id" />
        </div>                    
    </div>
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="device_token">Device Token *</label>
            <textarea
					class="form-control" 
					name="device_token" 
					placeholder="Device Token" 
					rows="6"
					ng-model="settings.device_token"></textarea>
        </div>                    
    </div>           
                                              
</div>

<!-- CLASSIC USERNAME PASS -->
<div class="row" ng-if="settings.apiVersion < 2">
    
    <div class="col-sm-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Adobe <b>Username</b></label>
            <input 	type="text" 
					class="form-control" 
					name="adobeUser" 
					placeholder="Adobe Password" 
					ng-model="settings.login" />
        </div>                    
    </div>    
    
    <div class="col-sm-6">
        <div class="form-group">
            <label for="exampleInputEmail1">Adobe <b>Password</b></label>
            <input 	type="password" 
					class="form-control" 
					name="adobePass" 
					placeholder="Adobe Password" 
					ng-model="settings.password" />
        </div>  
    </div>                   
                                              
</div>

<!-- RULE -->
<BR/>
<hr class="gray" /> 
<BR/>

<!-- ADVANCED SETTINGS -->
<div class="row">
	<div class="col-sm-12">
		<label>Advanced API Options</label>
		<p>Changing the values below could break the connection with Adobe's API. Please only change these options if you know absolutely what you're doing.</p>
		<button class="btn" ng-click="show.advanced = show.advanced ? false : true"><span class="glyphicon glyphicon-cog"></span> {{show.advanced ? "Hide" : "Show"}} Advanced API Settings</button>
		<BR/>
	</div>
</div>

<div class="row" ng-show="show.advanced">
	<BR/>
	<div class="col-sm-12">
        <div class="form-group">
            <label for="refresh_token">Refresh Token</label>
            <textarea
					class="form-control" 
					name="refresh_token" 
					placeholder="Refresh Token" 
					rows="6"
					ng-model="settings.refresh_token" />
        </div>                    
    </div>
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="access_token">Access Token</label>
            <textarea 
					class="form-control" 
					name="access_token" 
					placeholder="Access Token" 
					rows="6"
					ng-model="settings.access_token" />
        </div>                    
    </div>
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="refresh_token">Authentication Endpoint</label>
            <input 	type="text" 
					class="form-control" 
					name="refresh_token" 
					placeholder="Authentication Endpoint" 
					ng-model="settings.authentication_endpoint" />
        </div>                    
    </div> 
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="refresh_token">Authorization Endpoint</label>
            <input 	type="text" 
					class="form-control" 
					name="refresh_token" 
					placeholder="Authorization Endpoint" 
					ng-model="settings.authorization_endpoint" />
        </div>                    
    </div>  
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="refresh_token">Ingestion Endpoint</label>
            <input 	type="text" 
					class="form-control" 
					name="refresh_token" 
					placeholder="Ingestion Endpoint" 
					ng-model="settings.ingestion_endpoint" />
        </div>                    
    </div> 
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="refresh_token">Producer Endpoint</label>
            <input 	type="text" 
					class="form-control" 
					name="refresh_token" 
					placeholder="Producer Endpoint" 
					ng-model="settings.producer_endpoint" />
        </div>                    
    </div>            
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="refresh_token">Product Endpoint</label>
            <input 	type="text" 
					class="form-control" 
					name="refresh_token" 
					placeholder="Product Endpoint" 
					ng-model="settings.product_endpoint" />
        </div>                    
    </div>  
    
    <div class="col-sm-12">
        <div class="form-group">
            <label for="portal_url">Portal URL</label>
            <input 	type="text" 
					class="form-control" 
					name="portal_url" 
					placeholder="Product Endpoint" 
					ng-model="settings.portal_url" />
        </div>                    
    </div> 
    
</div>

<!-- RULE -->
<BR/>
<hr class="gray" /> 
<BR/>


<!-- PUBLICATION TABLE -->
<div class="row">
	
	<h5>Authorized Publications</h5>
	<br />
	
	<table ng-if="settings.publications.length > 0" class="table">
		<thead>
			<tr class="table-head">
				<td><b>Publication Name</b></td>
				<td><b>Namespace</b></td>
				<td style="text-align:center;"><b>Default</b></td>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="publication in settings.publications">
				<td>{{publication.title}}</td>
				<td>{{publication.name}}</td>
				<td style="text-align:center;"><input type="radio" name="defaultPublication" ng-model="settings.defaultPublication" value="{{publication.id}}"/></td>
			</tr>
		</tbody>	
	</table> 
	
	<div class="alert alert-danger text-center" role="alert" ng-if="settings.publications.length < 1">
		No publications are available. <br />
		Please log into the <a href="{{settings.portal_url}}" target="_blank"><b>DPS Portal</b></a> and create at least one.
	</div>

    <p class="text-center">
        <br />
	    <a ng-click="" class="clickable"><span ng-click="refresh()"><span class="glyphicon glyphicon-refresh"></span> Refresh List</span></a>
        <BR/>
        <span> This list can only be changed in the <a href="{{settings.portal_url}}" target="_blank"><b>DPS Portal</b></a></span>
    </p>

</div>  

