<tabset class="centered">
    		
	<!-- Defaults: Article --> 
	<tab heading="Article">
		<div ng-include="config.viewPath + 'views/settings/defaults-article.html'"></div>
	</tab>
	
	<!-- Defaults: Collections --> 
	<tab heading="Content">
        <div ng-include="config.viewPath + 'views/settings/defaults-collection.html'"></div>
	</tab>
	
	<!-- Defaults: Folios --> 
<!--
	<tab heading="Devices">
        <div ng-include="config.viewPath + 'views/settings/devices.html'"></div>
	</tab>
-->
	
	<!-- Defaults: Banners --> 
<!--
	<tab heading="Templates">
        <div ng-include="config.viewPath + 'views/settings/templates.html'"></div>
	</tab>
-->
	
	<!-- Defaults: Pulications --> 
<!--
	<tab heading="Defaults">
        <div ng-include="config.viewPath + 'views/settings/defaults.html'"></div>
	</tab>
-->
	
	<!-- Settings: Products --> 
<!--
	<tab heading="Importing">
        <div ng-include="config.viewPath + 'views/settings/importing.html'"></div>
	</tab>
-->
	
</tabset>
