<h1>Setup Target Devices</h1>

<br />

<table class="table">
	<thead>
		<tr class="table-head">
			<td></td>
			<td><b>Target Device</b></td>
			<td><b>Target OS</b></td>
			<td><b>Width</b></td>
			<td><b>Height</b></td>
			<td><b>HTMLResources</b></td>
		</tr>
	</thead>
	<tbody>
		<tr class="active" ng-repeat="device in settings.devices">
			
			<td class="text-center"><span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="removeDevice(device)"></span></td>
			<td><input type="text" class="form-control" ng-model="device.title" placeholder="Device"></td> 
			<td><input type="text" class="form-control" ng-model="device.os" placeholder="Target OS"></td>
			<td><input type="text" class="form-control" ng-model="device.width" placeholder="Width"></td>
			<td><input type="text" class="form-control" ng-model="device.height"  placeholder="Height"></td>
			<td class="text-center">
<!-- 				<button class="btn btn-default">Upload</button> -->
            </td>
		</tr>	
	</tbody>	
</table>           

<p class="text-center">
    <a ng-click="addDevice()"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add a New Target Device</a>
</p>