<br />
                    
<div class="col-sm-6 disabled" popover="Option not available yet." popover-placement="bottom" popover-trigger="mouseenter">
    <div class="radio">
      <label>
         <input type="radio" 
				name=""
				value="normal"
				disabled
				popover="Option not available yet. Coming soon." popover-placement="bottom" popover-trigger="mouseenter"
				/>
        <b>Normal</b>
        <p>Access this plugin by clicking on 'Digital Publishing' in the menu.</p>
      </label>
    </div>                        
</div>

<div class="col-sm-6">
    <div class="radio">
      <label>
         <input type="radio" 
				name="appMode"
				value="app"
				ng-model="settings.appMode" />
        <b>Full App</b>
        <p>This plug takes over this install of Wordpress, only Administrators will be able to access the dashboard/back end.</p>
      </label>
    </div>                        
</div>