
<h1>Templates</h1>
<p>
These templates were found within the "publish-templates" folder of your theme or inside the "publish-templates" folder in the plugin. To create your own template, create a php file inside the "publish-templates" of your theme folder. 
<!--
    <a class="clickable" href="http://studiomercury.github.io/folio-author-plugin-for-wordpress/">
	    <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span> Working with templates
	</a>
-->
</p>

<br />

<table class="table">
	<thead>
		<tr class="table-head">
			<td><b>Name</b></td>
			<td><b>Location</b></td>
			<td><b>Last Modified</b></td>
			<td class="text-center"><b>Default</b></td>
		</tr>
	</thead>
	<tbody>
		
		<tr><td colspan="4" class="text-center"><b>Templates in Plugin folder</b></td></tr>
		<tr ng-repeat="template in settings.templates" ng-if="template.location == 'Plugin'">
			<td>{{template.name}}</td>
			<td>{{template.path}}</td>
			<td>{{template.modified}}</td>
			<td class="text-center">
				<input type="radio" style="display: block;" value="{{template.path}}" ng-model="settings.defaultTemplate" />
			</td>
		</tr>
		
		<tr><td colspan="4" class="text-center"><b>Templates in Theme folder</b></td></tr>
		<tr ng-repeat="template in settings.templates" ng-if="template.location == 'Theme'">
			<td>{{template.name}}</td>
			<td>{{template.path}}</td>
			<td>{{template.modified}}</td>
			<td class="text-center">
				<input type="radio" style="display: block;" value="{{template.path}}" ng-model="settings.defaultTemplate" />
			</td>
		</tr>
		
	</tbody>
</table>  

            

<br />

<p class="text-center">
	<a class="clickable" ng-click="refresh()" style="margin-right: 15px;">
		<span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Refresh List
	</a>
</p>