<div id="article-metadata">
    <br /><br />
	<form name="metadata">
	<tabset class="nav">
		<!-- Article Metadata: Article Metadata --> 
		<tab heading="Metadata" role="presentation">
			<div ng-include="config.viewPath + 'views/article/metadata-general.html'"></div>
		</tab>
		
		<!-- Article Metadata: Template --> 
		<tab heading="Template" role="presentation">
			<div ng-include="config.viewPath + 'views/article/metadata-template.html'"></div>
		</tab>
		
		<!-- Article Metadata: Images --> 
		<tab heading="Images" role="presentation">
            <div ng-include="config.viewPath + 'views/article/metadata-images.html'"></div>
		</tab>
		
		<!-- Article Metadata: Advertising --> 
		<tab heading="Advertisement" role="presentation">
            <div ng-include="config.viewPath + 'views/article/metadata-advertisement.html'"></div>
		</tab>
		
		<!-- Article Metadata: Social Sharing --> 
		<tab heading="Social Sharing" role="presentation">
            <div ng-include="config.viewPath + 'views/article/metadata-social-sharing.html'"></div>
		</tab>
		
		<!-- Article Metadata: Advanced --> 
		<tab heading="Advanced" role="presentation">
            <div ng-include="config.viewPath + 'views/article/metadata-advanced.html'"></div>
		</tab>
	</tabset>
	</form>
</div>