<div class="col-sm-4 col-sm-offset-2">
    
	<div class="form-group">
		<label>Article Image</label>
		<br />
		<img src="https://placeholdit.imgix.net/~text?txtsize=28&txt=Article%20Image&w=300&h=300" ng-src="{{article._thumbnail.sizes.medium.url}}" with="200px" height="200px" class="img-responsive" />
		<ul>
		    <li ng-repeat="item in articleThumb.queue">
		        <div ng-show="articleThumb.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
		    </li>
		</ul>
        
		<p>
			<i>Upload a high resolution, .jpg or .png image. The image will be automatically scaled, centered and cropped when it is viewed in the application.</i>
		</p>
		
        <input type="file" nv-file-select uploader="articleThumb"/><br/>
	</div>	
							    
</div>

<div class="col-sm-4">
    
	<div class="form-group">
		<label>Social Media Image</label>
		<br />
		<img src="https://placeholdit.imgix.net/~text?txtsize=28&txt=Social%20Media%20Image&w=300&h=300" ng-src="{{article._socialSharing.sizes.medium.url}}" with="200px" height="200px" class="img-responsive" />
		<ul>
			<li ng-repeat="thumb in socialMediaThumb.queue">
		        <div ng-show="socialMediaThumb.isHTML5" ng-thumb="{ file: thumb._file, height: 100 }"></div>
		    </li>
        </ul>

		<p>
			<i>Social Media Image will be used when sharing an article via email or a social media network. If no Social Media Image is uploaded the article image will be used.</i>
		</p>
		<input type="file" nv-file-select uploader="socialMediaThumb"/><br/>
    </div>	
							    
</div>					    
