<div class="col-sm-5 col-sm-offset-1">
	<div class="form-group">
		<label for="articleText">Article Text for Social Sharing</label>
		<p>
			<i>Text from the first couple paragraphs from the article content to be displayed on the social sharing landing page. If not used, we use the article abstract metadata.</i>
		</p>
		<textarea 	class="form-control" 
					placeholder="Article text for Social Sharing"
					name="articleText"  
					ngMaxlength="2000"
					ng-model="article.articleText"
					rows="5"></textarea>
	</div>							    
</div>

<div class="col-sm-5 col-sm-offset-1">
    
	<div class="form-group">
		<label for="socialShareUrl">Social Share URL</label>
		<p>
			<i>The social share URL is created by Adobe when the article is published. The social share URL will be displayed to enable customers to use the social share URL for linking purposes.</i>
		</p>
		<input 	type="text" 
				class="form-control" 
				name="socialShareUrl" 
				placeholder="Social Share URL" 
				ng-model="article.socialShareUrl" />
	</div>
	
	<div class="form-group">
		<label for="articleUrl">Article URL</label>
		<p>
			<i>Provide an Article URL if you have an equivalent article on your web site. The Article URL will be included in the Social Share page providing users with a link to read the article on your web site if they do not have the mobile app or an app is unavailable.</i>
		</p>
		<input 	type="text" 
				class="form-control" 
				name="articleUrl" 
				placeholder="Article URL" 
				ng-model="article.articleUrl" />
	</div>	
						    
</div>	