<!-- MODAL: DELETE GROUP -->
<!-- Modal Header -->
<div class="modal-header">
    <button type="button" class="close" ng-click="cancel()" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title" id="myModalLabel">Are you sure you want to delete?</h2>
</div>

<!-- Modal Body -->
<div class="modal-body">
	
	<div ng-if="!startingAction">
		<p>
			This will only delete the {{ selectedEntities[0].entityType }}s from the AEM cloud only. 
			<BR/>
			<BR/>
			<i>You can not undo this action and the {{ selectedEntities[0].entityType }}s will be deleted forever.</i>
		</p>
	</div>

	<div ng-if="startingAction" ng-include="config.viewPath + 'views/modals/modal-group-action.html'"></div>
</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" ng-if="!startingAction" class="btn btn-primary warning" ng-click="startAction()">Delete from the cloud</button>
    <button type="button" ng-if="startingAction" class="btn btn-primary warning" ng-click="close()">OK</button>
</div>
