<!-- MODAL: LINK ENTITY -->

<!-- Modal Header -->
<div class="modal-header">
    <button type="button" class="close" ng-click="close()" aria-label="Close">
    	<span aria-hidden="true">&times;</span>
    </button>
    <h2 class="modal-title" id="myModalLabel">Link this {{ entity.entityType }} to one in the AEM Cloud</h2>
</div>

<!-- Modal Body -->
<div class="modal-body">
	<p>
		Enter the title of the {{ entity.entityType }} name in the cloud. This is not the {{ entity.entityType }} title. The {{ entity.entityType }} name is used internally and must be unique for the content within a project.
	</p>
	
	<input  type="text" 
				class="form-control" 
				ngMaxlength="250"
				name="entityName" 
				placeholder="{{ entity.entityType }} name" 
				ng-model="linkTo" />
	
	<br />
	  	
</div>

<!-- Modal Footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-default" ng-click="cancel()">Cancel</button>
    <button type="button" class="btn btn-primary warning" ng-click="entity.link(linkTo); close()">Link</button>
</div>
