<p>{{header}} the following entities:</p>

<BR/>

<!-- Table of status -->
<div class="action-status">
	<div class="action" ng-repeat="entity in selectedEntities">
		<div class="actionStatus">
			<span ng-if="entity.action.response" class="glyphicon glyphicon-ok-circle"></span>
			<span ng-if="!entity.action.response" class="glyphicon glyphicon-remove-circle"></span>
		 {{ entity.entityName }}
		<div class="actionNotes" ng-if="!entity.action.response"> {{entity.message}} </div>
	</div>
</div>
	
<br />
