<HR/>

<div class="form-group">
	<label for="entityName">Template</label>
	<p>
		<i>The default template for the article</i>
	</p>
	<select class="form-control" ng-model="editPreset.presets.template">
			<option disabled value="">== Templates found in Plugin ==</option>
			<option ng-repeat="template in settings.templates" value="{{template.path}}" ng-if="template.location == 'Plugin'">{{template.name}} ({{template.path}})</option>
			<option disabled value="">== Templates found in Theme ==</option>
			<option ng-repeat="template in settings.templates" value="{{template.path}}" ng-if="template.location == 'Theme'">{{template.name}} ({{template.path}})</option>
		</select>
</div>	

<br />

<div class="form-group">
	<label for="entityName">Article Name</label>
	<p>
		<i>The collection name is used internally only and must be unique for collections within an application.</i>
	</p>
	<input 	type="text" 
			class="form-control" 
			name="entityName" 
			placeholder="Preset Name" 
			ng-model="editPreset.presets.entityName"/>
</div>	

<br />

<div class="form-group">
	<label for="title">Article title</label>
	<p>
		<i>The user-facing title of the article that is displayed throughout the application.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			ngMaxlength="250"
			name="title" 
			placeholder="Title" 
			ng-model="editPreset.presets.title" />
</div>

<br />

<div class="form-group">
	<label for="shortTitle">Article Short Title</label>
	<p>
		<i>A short article title for display on smaller device screens.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			ngMaxlength="140"
			name="shortTitle" 
			placeholder="Short Title" 
			ng-model="editPreset.presets.shortTitle" />
</div>			

<br />		

<div class="form-group">
	<label for="abstract">Abstract</label>
	<p>
		<i>A description or summary of the editPreset.presets.</i>
	</p>
	<input 	class="form-control" 
			placeholder="Abstract"
			name="abstract"  
			type="text"
			ngMaxlength="400"
			ng-model="editPreset.presets.abstract"
			rows="3" />
</div>			

<br />

<div class="form-group">
	<label for="shortAbstract">Short Abstract</label>
	<p>
		<i>A short description or summary of the article that can be used on smaller device screens.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			ngMaxlength="250"
			name="shortAbstract" 
			placeholder="Short Abstract" 
			ng-model="editPreset.presets.shortAbstract" />
</div>

<div class="form-group">
	<label for="author">Author</label>
	<p>
		<i>Author byline associated with the editPreset.presets.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			ngMaxlength="100"
			name="author" 
			placeholder="Author" 
			ng-model="editPreset.presets.author" />
</div>	

<br />

<div class="form-group">
	<label for="authorUrl">Author URL</label>
	<p>
		<i>Link to more information about the author.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			ngMaxlength="150"
			name="authorUrl" 
			placeholder="Author URL" 
			ng-model="editPreset.presets.authorUrl" />
</div>

<br />

<div class="checkbox">
	<label for="hideFromBrowsePage">
	    <input  type="checkbox" 
				name="hideFromBrowsePage" 
				ng-model="editPreset.presets.hideFromBrowsePage" />
	    &nbsp; Hide from browse page				
    </label>				
</div>	

<br />

<div class="form-group">
	<label for="department">Department</label>
	<p>
		<i>Department is used to categorize articles within the context of your application (sports, politics, style etc.).</i>
	</p>
	<input  type="text" 
			class="form-control" 
			name="department" 
			placeholder="Department" 
			ng-model="editPreset.presets.department" />
</div>	

<div class="form-group">
	<label for="category">Category</label>
	<p>
		<i>Category is more specific than department, but more general than keywords. There is only one specified category for the content.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			ngMaxlength="140"
			name="category" 
			placeholder="Category" 
			ng-model="editPreset.presets.category" />
</div>			

<br />	

<div class="form-group">
	<label for="keywords">Keywords</label>
	<p>
		<i>A list of separated keywords associated with the editPreset.presets. These keywords could be user-facing.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			name="keywords" 
			placeholder="Keywords" 
			ng-model="editPreset.presets.keywords" />
			
</div>			

<br />

<div class="form-group">
	<label for="internalKeywords">Internal Keywords</label>
	<p>
		<i>A list of separated, internally used keywords.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			name="internalKeywords" 
			placeholder="Internal Keywords" 
			ng-model="editPreset.presets.internalKeywords" />
</div>							


<div class="form-group">
	<label for="accessState">Article Access</label>
	<p>
		<i>Article Access determines which articles users can view without purchasing.</i>
	</p>
	
	<select class="form-control" ng-options="state for state in ['free','metered','protected']" ng-model="editPreset.presets.accessState"></select>
</div>	

<br />

<div class="form-group">
	<label for="importance">Article Importance</label>
	<p>
		<i>Specify the importance of this article in the context of your application</i>
	</p>
	<select class="form-control" ng-options="importance for importance in ['low', 'normal', 'high']" ng-model="editPreset.presets.importance"></select>
</div>

<br />

<div class="checkbox">
    <label for="isTrustedContent">
	    <input  type="checkbox" 
				name="isTrustedContent" 
				ng-model="editPreset.presets.isTrustedContent" />
	    &nbsp; Trusted Content	
    </label>					
</div>
<p>
	<i>Enables app extensibility features in the article content.</i>
</p>

<br />

<div class="checkbox">
	<label for="isAd">
	    <input  type="checkbox" 
				name="isAd" 
				ng-model="editPreset.presets.isAd" />
	    &nbsp; Advertisement	
    </label>							
</div>
<p><i>Metrics for content tagged as advertisements are collected separately from content.</i></p>

<br />

<div class="form-group">
	<label for="adType">Ad Type</label>
	<p>
		<i>Specify if an ad is static or enhanced for tablets (EFT).</i>
	</p>
	
	<select class="form-control" ng-options="adType for adType in ['Static','EFT']" ng-model="editPreset.presets.adType"></select>					
</div>

<br/>

<div class="form-group">
	<label for="adCategory">Ad Category</label>
	<p>
		<i>Customers can define categories to group and measure all adds within a specific category.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			ngMaxlength="40"
			name="adCategory" 
			placeholder="Ad Category" 
			ng-model="editPreset.presets.adCategory" />
</div>

<div class="form-group">
	<label for="advertiser">Advertiser</label>
	<p>
		<i>The name of the advertiser that owns the ad. Ad name is used for metrics.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			ngMaxlength="40"
			name="advertiser" 
			placeholder="Advertiser" 
			ng-model="editPreset.presets.advertiser" />
</div>

<BR/>

<div class="form-group">
	<label>Article Image</label>
	<br />
	<p>
		<i>Upload a high resolution, .jpg or .png image. The image will be automatically scaled, centered and cropped when it is viewed in the application.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			name="thumbnail" 
			placeholder="thumbnail" 
			ng-model="editPreset.presets.thumbnail" />
</div>	

<BR/>

<div class="form-group">
	<label>Social Media Image</label>
	<br />
	<p>
		<i>Social Media Image will be used when sharing an article via email or a social media network. If no Social Media Image is uploaded the article image will be used.</i>
	</p>
	<input  type="text" 
			class="form-control" 
			name="socialSharing" 
			placeholder="socialSharing" 
			ng-model="editPreset.presets.socialSharing" />
</div>	

<br/>

<div class="form-group">
	<label for="articleText">Article Text for Social Sharing</label>
	<p>
		<i>Text from the first couple paragraphs from the article content to be displayed on the social sharing landing page. If not used, we use the article abstract metadata.</i>
	</p>
	<input 	class="form-control" 
			type="text"
			placeholder="Article text for Social Sharing"
			name="articleText"  
			ngMaxlength="2000"
			ng-model="editPreset.presets.articleText"
			rows="5"/>
</div>

<br/>

<div class="form-group">
	<label for="socialShareUrl">Social Share URL</label>
	<p>
		<i>The social share URL is created by Adobe when the article is published. The social share URL will be displayed to enable customers to use the social share URL for linking purposes.</i>
	</p>
	<input 	type="text" 
			class="form-control" 
			name="socialShareUrl" 
			placeholder="Social Share URL" 
			ng-model="editPreset.presets.socialShareUrl" />
</div>

<div class="form-group">
	<label for="articleUrl">Article URL</label>
	<p>
		<i>Provide an Article URL if you have an equivalent article on your web site. The Article URL will be included in the Social Share page providing users with a link to read the article on your web site if they do not have the mobile app or an app is unavailable.</i>
	</p>
	<input 	type="text" 
			class="form-control" 
			name="articleUrl" 
			placeholder="Article URL" 
			ng-model="editPreset.presets.articleUrl" />
</div>	