<div id="about">
    <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
       
        <br />
        <h1>Digital Publishing Tools for WordPress</h1>
        <p>Digital Publishing Tools for WordPress is a plugin that allows anyone to create HTML articles for AEM Mobile directly from WordPress.</p>
        <p>This plugin is maintained by <a href="http://smny.us">Studio Mercury</a>, NY but is completely open source. All are welcome to commit updates or bug fixes.</p>
        <div class="row">
            <div class="col-sm-12">
                <h1></h1>
                <p></p>
            </div>  
            
            <div class="col-sm-6">
                <h1></h1>
                <p></p>
            </div>
        </div>
        
        <div>
            <h2>Support</h2>
            <p>There are many different ways to get support / help with this plugin.</p>
            <br />
            <div class="row">
	            <div class="col-sm-12 col-sm-6">
	            	<h4 style="margin-bottom: 10px;">Documentation</h4>
					<p>We have detailed documentation on the <a href="http://digitalpublishing.smny.us/documentation">plugin's web site</a>.</p>

                    <br /><br />
                    
	            	<h4 style="margin-bottom: 10px;">Free Community Support</h4>
					<p>Issues are tracked in <a href="https://github.com/StudioMercury/digital-publishing-tools-for-wordpress/issues">GitHub</a> and all are welcome to respond or commit updates.</p>
                    
                    <br /><br />
                    
	            	<h4 style="margin-bottom: 10px;">Paid Support</h4>
					<p>Mercury can help install, customize, or consult with any implementation. We would love to collaborate with you. <br /><a href="http://digitalpublishing.smny.us/support">See all of our support options</a></p>
	            </div>
            </div>
        </div>
        
        <br />
        <br />
        <hr />

              
    </div>
</div>