<div id="about">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
       
        <br />
        <h1>Adobe Publish for Wordpress</h1>
        <p>
            Folio Author for WordPress is a plugin for WordPress that enables publishers to create HTML articles and folios for Adobe Digital Publishing Suite (DPS), directly from their WordPress instance. Using this plugin, publishers can streamline the creation and management of their content on DPS apps across multiple devices.
        </p>
                
        <div class="row">
            
            <div class="col-sm-12">
                <h1>Known Issues</h1>
                <p>
                    If you receive an error that the version is different or your OATH (token) has expired, please try the call again and it should work. We're capture and try to resolve these conflicts. In the future the plugin will try the request again with the working version / oauth token. But this beta build you will need to make the call again.
                </p>
            </div>  
            
            <div class="col-sm-6">
                <h1>Learn More</h1>
                <p>
                    Coming soon - a guide for using the plugin.
                </p>
            </div>
            
            <div class="col-sm-6">
                <h1>Contact & Support</h1>
                <p>
                    This plugin is currently in Beta. For questions or to report bugs, you can contact us at <a href="mailto:developer@smny.us">developer@smny.us</a>.
                </p>
            </div>

        </div>
              
    </div>
</div>