<!-- Collapsable filter menu -->
<div class="metadata-group">
	
	<br />
	
	<div class="col-sm-4 col-lg-3">
    	
		<label for="exampleInputEmail1">In Collection</label>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				<span data-bind="label">Select a collection</span>
		    	<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Unattached</a></li>
				<li role="presentation" class="divider"></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Collection 1</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Collection 2</a></li>
			</ul>
		</div>	    
		        	
	</div>
	
	<div class="col-sm-4 col-lg-offset-1">
    	<div class="form-group">
		    <label for="exampleInputEmail1">Date Range</label>  
		    <div class="row">
			    <div class="col-xs-6">
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="Start Date">    
			    </div>
			    <div class="col-xs-6">
                    <input type="text" class="form-control" id="exampleInputAmount" placeholder="End Date">  
			    </div>
		    </div>
    	</div>       	
	</div>
	
	<div class="col-sm-4 col-lg-3 col-lg-offset-1">
    	
		<label for="exampleInputEmail1">Status</label>
		<div class="dropdown">
			<button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
				<span data-bind="label">Status</span>
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Published</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Unpublished</a></li>
				<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Out of sync</a></li>    			    
			</ul>
		</div>	    
		        	
	</div>
	
	<div class="col-xs-12">
		<br /><br />
	</div>
	
</div>