<!-- Search -->
<div class="metadata-group" id="search-menu">
	<BR/>
	
	<div class="col-sm-12">
        <div class="form-group">
            <div class="input-group">
                
                <div class="input-group-addon">
	                <span class="glyphicon glyphicon-search"></span>
	            </div>
	            
	            <input 	type="search" 
						class="form-control" 
						name="search" 
						placeholder="Search" 
						ng-mode="search" />
            </div>
        </div>            	
	</div>
	
</div>  