<div class="list-group coral-sidebar open" ng-controller="sideMenu">
	<a ui-sref="article.list" class="list-group-item" ng-class="{active: $state.includes('article')}">Articles</a>
	<a ui-sref="settings" class="list-group-item" ui-sref-active="active">Settings</a>
	<a ui-sref="about" class="list-group-item" ui-sref-active="active">About</a>
	<a ng-href="{{settings.portal_url}}" target="_blank" class="list-group-item"><span class="glyphicon glyphicon-new-window"></span> AEM Mobile Portal</a>
	<a href="{{config.CMSUrl}}" class="list-group-item"><span class="glyphicon glyphicon-chevron-left"></span> Back to WordPress</a>
</div>